/* 
PALETA DE CORES

Azul escuro 1: #0D2636
Azul escuro 2: #032133

Azul médio 1: #4F748B
Azul médio 2: #284D63

Azul claro 1: #C9D7E0
Azul claro 2: #85A3B6
 */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Manrope:wght@200..800&display=swap');

 * {
    font-family:"Manrope", sans-serif ;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 body, html {
    background-color: #0D2636;
    height: 100vh;
    width: 100vw;
 }

 main {
    position: relative;
    height: 100vh;
    width: 100vw;
 }

 main > h1 {
   font-size: 2em;
   margin-top: 20px;
   text-align: center;
   color: white;
 }

 section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    
    background-color: #c1dbec;
    height: 530px;
    width: 250px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px hsla(202, 23%, 64%, 0.412);
    
    /* transição suave */
    transition: width .3s, height .3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
 }

 section#login > div#imagem {
    display: block;
    background: #0D2636 url(../imagens/pexels-expect-best-79873-323705\ \(1\).jpg);
    background-size: cover;
    height: 200px;
 }

 section#login > div#formulario {
    display: block;
    padding: 10px;
 }

 div#formulario > h1 {
   text-align: center;
   margin-bottom: 10px;
 }
 div#formulario > p {
   font-size: 1em;
 }

 div.campo > label {
   display: none;
 }

div.campo > span {
  font-size: 1.8em;
  width: 40px;
  padding: 5px;
}
div.campo > input {
   background-color: transparent;
   border: 1px solid #4F748B;
   font-size: em;
   width: calc(100% - 44px);
   height: 100%;
   border-radius: 15px;
   padding: 8px;
   transform: translateY(-10px);
}

div.campo > input:focus-within {
   background-color: #a1ceec;
}

 form > input[type=submit] {
   display: block;
   font-size: 1em;
   width: 100%;
   height: 40px;
   background-color: #4F748B;
   color: white;
   border: none;
   border-radius: 15px;
   margin-bottom: 5px;
   cursor: pointer;
 }

 form > input[type=submit]:hover {
   background-color: #365669;
 }

 form > button {
   display: block;
   background-color: #C1DBEC;
   border: 1.5px solid #4F748B;
   border-radius: 15px;
   width: 100%;
   height: 40px;
   text-align: center;
   font-size: 1em;
   color: #4F748B;
   cursor: pointer;
 }

form > button:hover {
   border: 1.5px solid #365669 ;
   background-color: #365669;
   color: white;
 }
 